<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Product Creating form</title>

  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>


<div class="container">

  <div class="row">
    <div class="col-md-4 mt-5">
      <form method="post"
            th:action="@{/movie_final/update}">
        <div class="form-group">
          <label for="title">Termék modósító adatlap</label>
        </div>
        <div class="form-group">
          <label for="title">ID</label>
          <input type="text"
                 id="id"
                 name="id"
                 readonly
                 class="form-control"
                 th:value="${movie.id}"/>
        </div>
        <div class="form-group">
          <label for="title">Cím</label>
          <input type="text"
                 id="title"
                 name="title"
                 class="form-control"
                 th:value="${movie.title}"/>
        </div>
        <div class="form-group">
          <label for="director">Rendező</label>
          <input type="text"
                 id="director"
                 name="director"
                 class="form-control"
                 th:value="${movie.director}"/>
        </div>
        <div class="form-group">
          <label for="releaseDate">Kiadási dátum</label>
          <input type="date"
                 id="releaseDate"
                 name="releaseDate"
                 class="form-control"
                 th:value="${movie.name}"/>
        </div>
        <div class="form-group">
          <label for="ageRestriction">Korhatár</label>
          <input type="number"
                 id="ageRestriction"
                 name="ageRestriction"
                 class="form-control"
                 th:value="${movie.ageRestriction}"/>
        </div>
        <div class="form-group">
          <label for="genre">Műfaj</label>
          <input type="text"
                 id="genre"
                 name="genre"
                 class="form-control"
                 th:value="${movie.genre}"/>
        </div>

        <button class="btn btn-primary"
                type="submit">Módosít
        </button>
        <a th:href="@{/movie_final}"
           class="btn btn-secondary"
           type="submit">Mégsem</a>
      </form>
    </div>
  </div>

</div>

<script>

</script>

</body>
</html>